html,
body {
  background-color: var(--calcite-ui-foreground-1);
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

#map-container {
  position: relative;
  height: 100%;
  width: 100%;
}

arcgis-map {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

#button-container {
  position: absolute;
  bottom: 70px;
  right: 10px;
  z-index: 1;
  color: #434343;
}


.custom-example-theme {
  --calcite-ui-brand: #061200;
  --calcite-ui-brand-hover: #234a61;
  --calcite-ui-foreground-3: #8f4d4d;
}

calcite-navigation {
    --calcite-navigation-width: 1;
    --calcite-ui-foreground-1 : #000000;
    --calcite-ui-text-1 : #ffffff;
    --calcite-ui-text-2 : #ffffff;
}

calcite-button {
  --calcite-ui-brand: #969494;
  --calcite-ui-brand-hover: #9b9800;
  --calcite-ui-brand-press: #d1d420;
}

.center-text {
  text-align: center;
  font-size: 1.0rem;
  padding: 10px;
}

.center-text img {
  max-width: 100%;
  height: auto;
}

.center-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center-ul ul {
  text-align: left;  /* or 'center' depending on your preference */
}

/* Header styles */
#modal-title {
  font-size: 36px;
  font-weight: bold;
  color: #333;
  margin-bottom: 16px;
  align-items: center;
  display: flex;
  justify-content: center;
}

/* Content styles */
.wildlifeList {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.wildlifeItem {
  display: flex;
  border: 1px solid #ddd;
  padding: 16px;
  border-radius: 8px;
  align-items: flex-start; /* align items to the start of the flex container */
}

.wildlifeItem img {
  flex-shrink: 0; /* prevent image from shrinking */
  width: 150px; /* or you can use a percentage like 30% */
  height: auto; /* maintain aspect ratio */
  border-radius: 8px;
  margin-right: 16px; /* space between image and text */
}

.wildlifeItem p {
  flex-grow: 1; /* allow text to grow and take up remaining space */
  font-size: 16px;
  color: #555;
  line-height: 1.5;
  margin: 0;
}
